menuconfig COPRO_USB_NETWORK
    bool "USB Network Configuration"
    default y
    depends on USB_DEVICE_NETWORK_ECM
    help
      This option allows you to configure the USB network settings.

if COPRO_USB_NETWORK

config COPRO_USB_ECM_IPV4_ADDR
    string "IPv4 Address"
    default "192.0.3.2"
    depends on USB_DEVICE_NETWORK_ECM
    help
      The IPv4 address to assign to the USB Ethernet Control Model (ECM) interface.

config COPRO_USB_ECM_IPV4_GW
    string "IPv4 Gateway"
    default "192.0.3.1"
    depends on USB_DEVICE_NETWORK_ECM
    help
      The IPv4 gateway to assign to the USB Ethernet Control Model (ECM) interface.

config COPRO_USB_ECM_IPV4_NETMASK
    string "IPv4 Netmask"
    default "255.255.255.0"
    depends on USB_DEVICE_NETWORK_ECM
    help
      The IPv4 netmask to assign to the USB Ethernet Control Model (ECM) interface.

endif # COPRO_USB_NETWORK

menuconfig COPRO_XIAOMI_LYWSD03MMC
    bool "Xiaomi LYWSD03MMC support"
    default y
    help
      This option allows you to report the measurements from the Xiaomi LYWSD03MMC sensor.

if COPRO_XIAOMI_LYWSD03MMC

config COPRO_XIAOMI_QUEUE_SIZE
    int "Queue Size"
    default 20
    help
      The size of the queue to store the measurements from the Xiaomi LYWSD03MMC sensor.

endif # COPRO_XIAOMI_LYWSD03MMC

menuconfig COPRO_STREAM_CLIENT
    bool "Coprocessor stream Client"
    default y
    help
      This option allows you to configure the Stream Client settings.

if COPRO_STREAM_CLIENT

config COPRO_STREAM_PORT
    int "Stream Port"
    default 4000
    help
      The port number to use for the Stream Client.

config COPRO_STREAM_HOST
    string "Stream Host"
    default "192.0.3.1"
    help
      The host to connect to for the Stream Client.

config COPRO_STREAM_TRY_CONNECT_INTERVAL
    int "Stream Try Connect Interval"
    default 1000
    help
      The interval in milliseconds to try to connect to the Stream Client.

endif # COPRO_STREAM_CLIENT

menuconfig COPRO_CONFIG_SERVER
    bool "Coprocessor configuration server"
    default y
    help
      This option allows you to configure the Configuration Server settings.

if COPRO_CONFIG_SERVER

config COPRO_CONFIG_PORT
    int "Configuration Port"
    default 4001
    help
      The port number to use for the Configuration Server.

endif # COPRO_CONFIG_SERVER

menu "Zephyr RTOS Configuration"

source "Kconfig.zephyr"

endmenu